menu "Teleinfo Configuration"

    config TIC_UART_GPIO
        int "GPIO pour réception UART du module d'interface TIC"
        default 2

    config TIC_LED_GPIO
        int "GPIO pour la LED du module d'interface TIC"
        default 3

    choice TIC_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "WiFi Scan auth mode threshold"
        default TIC_WIFI_AUTH_OPEN
        help
            The weakest authmode to accept in the scan mode.

        config TIC_WIFI_AUTH_OPEN
            bool "OPEN"
        config TIC_WIFI_AUTH_WEP
            bool "WEP"
        config TIC_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config TIC_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config TIC_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config TIC_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config TIC_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
        config TIC_WIFI_AUTH_WAPI_PSK
            bool "WAPI PSK"
    endchoice
 
    config TIC_OLED_DISPLAY
        bool "Enable SSD1306 display support"
        default n
        help
            Enable SSD1306 128x64 I2C display
            Use LCDGFX library

    config TIC_OLED_DISPLAY_SCL
        int 
        prompt "GPIO pin for SCL"
        depends on TIC_OLED_DISPLAY
        default 0

    config TIC_OLED_DISPLAY_SDA
        int 
        prompt "GPIO pin for SDA"
        depends on TIC_OLED_DISPLAY
        default 1

    config TIC_OLED_DISPLAY_ADDR
        hex
        prompt "SSD1306 display I2C address"
        default 0x3C
        depends on TIC_OLED_DISPLAY
        help
            Adresse I2C hexadecimale (0x3C ou 0x3D)

    config TIC_CONSOLE
        bool "Enable serial console interface"
        default y

    config TIC_SNTP
        bool "Enable sntp time synchronisation"
        default y

    config TIC_SNTP_SERVER
        string "SNTP server name"
        depends on TIC_SNTP
        default "fr.pool.ntp.org"


endmenu
